apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: platform
  labels:
    app: gateway
spec:
  type: LoadBalancer
  selector:
    app: gateway
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
